[core]
	autocrlf = input
	editor = nano
[color]
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = true
[push]
	default = simple
[alias]
	logx = log --all --graph --decorate=short --pretty=format:'%C(auto)%h% an (%ar):% s%n%-d'
	co = checkout
	staged = diff --staged

### Include file:
# [include]
#	path = ~/dotfiles/.gitconfig
